<div class="home">
    <div class="about-content" style="flex-grow: 3;">
        <div class="image">
            <img class="img-content" src="assets/coding.png" alt="">
        </div>
    </div>
    <div class="about-content" style="flex-grow: 7;">
        <div class="text-content">
            <h1>Hello, I am a full-stack web developer and IT professional working at cognizant. I have a passion for creating beautiful and functional websites that meet the needs and expectations of my clients. I have experience in using various technologies and frameworks, such as HTML, CSS, JavaScript, BootStrap, Angular, Angular Material, SpringBoot, SpringMVC, Microservices, MySql, etc. I also have skills in web design, testing, debugging, and optimization. I enjoy learning new things and keeping up with the latest trends and best practices in web development. I am always looking for new challenges and opportunities to improve my skills and portfolio. </h1>
        </div>
    </div>
</div>
