.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../../../assets/OIP.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 90px 10% 0;
   
}
.about-content{
    /* border: 2px solid white; */
    margin: 20px;
}
.image{
    /* border: 2px solid red; */
    border-radius: 50%;
    text-align: center;
}
.img-content{
    height: 200px;
    width: 200px;
    filter: drop-shadow(10px 10px 5px #0ef);
}
.text-content h1{
     font-size: 15px;
     color: #fff;
     margin: 30px;
     text-align: justify;
}

@media  screen and (max-width:900px) {

    .home{
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
        margin: 0px;
    }
    .text-content h1{
        margin: 0px;
        text-align: justify;
    }
}