

<section class="home">
    <div class="home-content">
        <div class="text-content">
            <h3>Hello, It's Me</h3>
            <h1>Deepanshu Katiyar</h1>
            <h3>And I'm a <span class="text"></span> </h3>
            <p>I am a web designer with over a year of experience in creating and designing websites.
                <br> front-end development, Back-end development and many more ...
            </p>
        </div>

        <div>
            <img class="img" src="assets/coding.png" alt="assets/coding.png">
        </div>
        <div class="home-sci">
            <a href="https://www.instagram.com/deepanshu_katiyar_/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://auth.geeksforgeeks.org/user/_network_/practice" target="_blank"><i class='bx bx-code-alt'></i></a>
            <a href="https://www.linkedin.com/in/deepanshu-katiyar/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/Deep5656" target="_blank"><i class='bx bxl-github'></i></a>
        </div>
        <a href="#" [routerLink]="'/about'" class="btn-box">More About Me</a>

    </div>
</section>

